@charset "utf-8";

@media only screen and (min-width: 768px) {

    body > header{
        background: none;
        padding-left: 20px;
    }
    body header > div.image {
        text-align: left;
        position: absolute;
        padding-left: 20px;
    }

    body h1, article, div#btn {
        position: relative;
    }

    body h1 {
        padding-left: 350px;
    }

    body > article{
        width: 180px;
        height: 200px;
        padding-left: 280px;
    }

    body div#btn {
        margin-left: 55vw;
    }

    main section.section-main {
        display: flex;
        padding: 20px;
    }

    main section#flex-reverse {
        padding: 20px;
        flex-direction: row-reverse;
    }

    main > section > div#imageY {
        width: 100%;
        height: 200px;
        padding-top: 30px;
    }

    main section#flex-reverse p  {
        width: 300px;
    }

    main section#flex-colunm {
        width: 100%;
    }

    div.image img{
        width: 350px;
    }

    article.destaque {
        width: 300px;
    }

    footer {
        display: flex;
        flex-direction: row;
        padding-top: 35px;
        padding-bottom: 25px;
    }

    footer section#section-footer {
        margin: auto;
        width: 250px;
    }

    footer p{
        padding-top: 85px;
        width: 200px;
    }

}

@media only screen and (min-width: 992px) {
    body {
        margin: auto;
        width: 768px;
    }

    header {
        margin-left: 50px;
        background-color: black;
        width: 100%;
    }

    body h1 {
        padding-left: 400px;
    }

    body > article{

        padding-left: 330px;
    }

    body div#btn {
        margin-left: 455px;
    }
}