@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    text-align: center;
}

header{
    background-color: black;
    width: 100%;
}

h1 {
    font-size: 2.2em;
    text-align: left;
    margin: auto;
    width: 250px;
    padding-left: 10px;
}

body > article{
    text-align: justify;
    font-size: 1em;
    width: 90vw;
    margin: auto;
}

main{
    width: 100%;
    margin: auto;
}

main section h2{
    margin: auto;
    padding-left: 10px;
    text-align: left;
    font-size: 2em;
}

main section p{
    width: 100%;
    margin: 20px;
    text-align: justify;
}

div#btn {
    background-color: black;
    color: white;
    width: 180px;
    height: 42px;
    margin: 20px;
}

div#btn span{
    font-size: 1.2em;
    margin-right: 10px;
    margin-left: 10px;
}

div.image img{
    margin: auto;
    width: 300px;
}

div#btn button{
    border-style: none;
    height: 100%;
    width: 40px;
    font-size: 1.5em;
    font-weight: bolder;
    margin-left: 10px;
    background-color: rgb(253, 111, 86);
}

article.destaque {
    background-color: black;
    color: white;
    width: 300px;
    height: 250px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
    font-size: 1.2em;
}

footer {
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
    background-color: black;
    color: white;

}

footer h3{
    font-size: 1.8em;
    margin: 15px;
}

footer article{
    margin: auto;
    width: 300px;
    text-align: justify;
}

footer img{
    margin: auto;
    margin: 15px;
    width: 30px;
}